<div class="container mt-5">
  <h1>Edit list</h1>

  <%= form_with model: @list do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary mt-3' %>
<% end %>

  <hr>
  <%= link_to lists_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
